body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#main-container {
  height: 600px;
  width: 600px;
  background-color: lightblue;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 0.25px solid black;
}

.item {
  position: relative;
  box-sizing: border-box;
  border: 1px solid black;
}
